/* importing font */
@font-face {
    font-family: lato;
    src: url('./assets/fonts/lato');
}

@font-face {
    font-family: montserrat-bold;
    src: url('./assets/fonts/Montserrat-Bold.ttf');
}

/* importing emoji's*/
@counter-style repeating-emoji {
    system: cyclic;
    symbols: "\1F64C""\1F3EB""\1F4DA";
    suffix: " ";
}

/* css code for screen size < 600px*/
/* general css */
html {
    font-size: 14px;
}

*{
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    font-family: 'Lato', sans-serif;
    font-size: 1.2em;
    z-index: 1;
    
}

h1, h2, h3 {
        font-family: 'montserrat-bold', sans-serif;
    }

    h1 {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    h2 {
        font-size: 2.2rem;
        margin-bottom: 2rem;
    }

    p, li {
        max-width: 70ch;
        line-height: 1.5;
    }

    img {
        width: 100%;
        height: 100%;
    }

    /* header */
    header {
        height: 55vh;
        background-image: url("./assets/img/studentsbg.png");
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center top;
        position: relative;
    }

    header > div {
        background-color: #c5192d;
        padding: 4rem 2rem 2rem;
        margin: auto;
        left: 0;
        right: 0;
        bottom: -4rem;
        position: absolute;
        width: 95vw
    }

    header div > *{
        color: white;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
    }

    /* main */
    main {
        box-shadow: 0 0 1px 0 darkgrey;
        background-color: whitesmoke;
        width:95vw;
        margin: auto;
        left: 0;
        right: 0;
    }

    /* article */
    article {
        padding: 2rem;
        margin: 2rem 0;
    }
    
    article img {
        margin-bottom: 1rem;
    }

    article:nth-child(3) img {
        margin-top: 0rem;
        margin-bottom: 1rem;
    }

    /* borders article */
    article:nth-of-type(2) {
        border-style: solid;
        border-width: 0 0 0.1px 0;
        border-color: lightgrey;
    }

    /* intro container */
    #intro-container {
        padding: 4rem 2rem 3rem 2rem;
        margin: 6rem 0 0;
        background-color: #c5192d;
    }

    /* list type and emoji's */
    #intro-container div > ul {
        list-style-type: none;
        padding: 0;
        margin: 1.5rem 0 0 0;
    }

    #intro-container li:before {
        width: 1rem;
        margin: 1rem 1rem 0 1rem;
    }

    #intro-container li:nth-child(1):before {
        content: "\1F64C";
    }

    #intro-container li:nth-child(2):before {
        content: "\1F3EB";
    }

    #intro-container li:nth-child(3):before {
        content: "\1F4DA";
    }

    /* switching rotation of 3rd article */
    article:nth-child(3) {
        transform: rotate(180deg);
    }
  
    article:nth-child(3) > * {
        transform: rotate(-180deg);      
    }

    /* footer */
    footer {
        background-color: #c5192d;
        max-width: 95vw;
        margin: auto;
        left: 0;
        right: 0;
        padding: 2rem;
        color: #ffff;
        text-align: center;
    }

    footer > * {
        margin: 0 auto;
    }

    footer a:link {
        color: #ffff;
    }
    
/* css code for screens 600px and bigger*/
@media screen and (min-width: 600px) {

    /* general css rules */
    html {
        font-size: 16px;
    }

    header{
        height: 65vh;
    }

    header > div, main, footer {
        width: 85vw;
    }

    article {
        padding-top: 0;
    }

    /* intro container */
    #intro-container div {
        vertical-align: top;
    }
  
    #intro-container div > ul {
        margin: 0;
    }
  
    #intro-container > div > h2{
        margin-top: 0;
    }

    /* changing color to red & gradient */
    #intro-container {
        background-image: linear-gradient(90deg, #c5192d 50%, whitesmoke 50%);
        border-bottom: 0.1px solid rgb(209, 209, 209);
    }

    /* switching back rotation of 3rd article */
    article:nth-child(3) {
        transform: rotate(0);
    }
      
    article:nth-child(3) > * {
        transform: rotate(-0deg);      
    }

    article:nth-child(3) {
        border-top: 0;
        border-bottom: 0.1px solid rgb(209, 209, 209);
      }

    /* article columns */
    article > * {
        display: inline-block;
        width: 45%;
      }

      /* right column */
      article:nth-child(2) img, 
      article:nth-child(3) div, 
      article:nth-child(4) img, 
      #intro-container div:last-child {
        margin-left: -6px;
      }

      /* left column */
      article:nth-child(2) div, 
      article:nth-child(3) img, 
      article:nth-child(4) div, 
      #intro-container div:first-child {
        margin-right: 10%;
      } 

    article:nth-child(2) img, 
    article:nth-child(3) img, 
    article:nth-child(4) img {
        vertical-align: top;
        margin-top: 0;
        margin-bottom: 0;
      }
}
/* css code for screens 960px and bigger */
@media screen and (min-width: 960px) {
    /* general css rulese */
    html {
        font-size: 24px;
    }

    header > div, main, footer {
        width: 70vw;
    }

    /* right column */
    article:nth-child(2) img, 
    article:nth-child(3) div, 
    article:nth-child(4) img, 
    #intro-container div:last-child {
      margin-left: -8px;
    }
}